main {
    width: 100%;
    height: 100vh;
    color: white;
    background-color: lightblue;
    text-align: center;
}

main h1 {
    margin: 0;
    font-size: 6rem;
    color: white;
}

main h2 {
    font-size: 1.5rem;
    color: white;
}

main button.i {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 0.3rem 0.3rem;
    margin-top: 2rem;
    color: white;
    margin: 1.5rem;
}