body {
    margin: 0;
    margin-bottom: 0;
    padding: auto;
}

main {
    color: white;
    background-color: lightblue;
    text-align: center;
}

main h1 {
    margin: 0;
    font-size: 6rem;
    color: white;
}

main h2 {
    font-size: 1.5rem;
    color: white;
}

main button.main {
    background-color: transparent;
    border: 0.5px solid white;
    border-radius: 15px;
    padding: 0.5rem;
    font-size: 15px;
    color: white;
    margin: 2rem;
    cursor: pointer;
}

main p {
    margin: 1.5rem;
    padding: 3%;

}